@page "/Test/TestAutoDetails"
@using Blater.Attributes.Auto
@using Blater.Models
@using Blater.Portal.Client.Models

@attribute [AutoIgnore]

<div class="pa-2">
    <AutoDetailsBuilder
        T="Employee"
        Model="@Employee"
        Id="@Employee.Id"/>
</div>

@code {

    private Employee Employee { get; init; } = new()
    {
        Id = BlaterId.New(nameof(Employee)),
        CreatedAt = DateTimeOffset.UtcNow,
        UpdatedAt = DateTimeOffset.UtcNow,
        Enabled = true,
        Name = $"Employee 1",
        Position = "CPA",
        Rating = 5,
        Salary = 75_000,
        YearsEmployed = 5
    };
}