@page "/Test/TestAutoTable"

@using Blater.Attributes.Auto
@using Blater.Portal.Client.Models

@attribute [AutoIgnore]

<div class="pa-2">
    <AutoTableBuilder
        T="Employee"
        Items="@([])"
        />
    <AutoFormBuilder
        @ref="@FormBuilder"
        T="Employee"
        Model="@Employee"/>
</div>

@code {

    public List<Employee> Employees { get; set; } = [];
    public Employee Employee { get; set; } = new();
    private AutoFormBuilder<Employee> FormBuilder { get; set; } = null!;
}