@page "/"

@using Blater.Frontend.Services

@layout PortalLayout
@inject NavigationService NavigationService

<h3>IndexPage</h3>

@code {

    protected override void OnInitialized()
    {
        NavigationService.Navigate("/home");
    }

}