<div class="d-none d-md-flex align-center flex-grow-1">
    <MudLink Href="#" Class="d-flex align-center" Color="Color.Dark" Underline="Underline.None">
        <MudImage
            Class="pa-1"
            Src="https://media.discordapp.net/attachments/1169247099943137311/1240009497800605797/image.png?ex=66450056&is=6643aed6&hm=39568f3482cfbbe501a1298132c0f40aac8c3f5687bd3b6f6a9b836e313de22e&=&format=webp&quality=lossless&width=623&height=148"
            Width="150"
            Height="50">
        </MudImage>
    </MudLink>
    <MudLink Href="#" Color="Color.Dark" Class="mx-2" Underline="Underline.None">Getting Started</MudLink>
    <MudLink Href="#" Color="Color.Dark" Class="mx-2" Underline="Underline.None">Getting Started</MudLink>
    <MudLink Href="#" Color="Color.Dark" Class="mx-2" Underline="Underline.None">Getting Started</MudLink>
    <MudMenu Color="Color.Dark" Variant="Variant.Filled" Label="Teste" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter" Class="pa-1">
        <MudMenuItem>Teste 1</MudMenuItem>
        <MudMenuItem>Teste 2</MudMenuItem>
        <MudMenuItem>Teste 3</MudMenuItem>
    </MudMenu>
</div>