@page "/products/serverless-hosting"

<MudGrid Spacing="2">
    <MudItem xs="12" Class="d-flex align-center justify-center mb-8">
        <MudBreakpointProvider>
            <MudGrid Justify="Justify.SpaceBetween" Spacing="6" Class="d-flex align-center justify-center">
                <MudItem xs="6" md="6" lg="6" xl="6" xxl="6">
                    <div class="d-flex justify-center flex-column gap-4 pa-8" style="height: 80vh">
                        <MudText Typo="Typo.h2" Color="Color.Inherit">Serverless Hosting</MudText>
                        <MudText Typo="Typo.h3">
                            Effortless global application and function hosting with simple pricing, complete templates, and automated CI/CD, getting your app running globally in under 2 minutes.
                        </MudText>
                        <div class="d-flex gap-2">
                            <MudButton Variant="Variant.Filled" Class="gradient-background-1">Start a project</MudButton>
                            <MudButton Variant="Variant.Outlined" Color="Color.Inherit">See documentation</MudButton>
                        </div>
                    </div>      
                </MudItem>
                <MudItem xs="6" md="6" lg="6" xl="6" xxl="6">
                    <div class="d-flex align-center justify-center mud-height-full">
                        <MudImage
                            Src="img/database.svg"
                            Fluid="true"
                            ObjectFit="ObjectFit.Cover"
                            ObjectPosition="ObjectPosition.Center"/>
                    </div>
                </MudItem>
            </MudGrid>
        </MudBreakpointProvider>
    </MudItem>

    <MudItem xs="12" Class="mb-8">
        <MudBreakpointProvider>
            <MudGrid Justify="Justify.SpaceBetween" Spacing="6">
                <MudItem xs="4">
                    <div class="d-flex flex-column mud-height-full gap-2 pa-8">
                        <div class="d-flex align-center justify-start mud-width-full">
                            <MudImage Src="img/space-technology.svg" Style="max-height: 60px"/>
                        </div>
                        <MudText Typo="Typo.h5" Color="Color.Inherit" Style="font-weight: bold;">Latest Discoveries</MudText>
                        <MudText Typo="Typo.body2">Stay up-to-date with the most recent breakthroughs and discoveries in the field of astrophysics.</MudText>
                    </div>
                </MudItem>
                <MudItem xs="4">
                    <div class="d-flex flex-column mud-height-full gap-2 pa-8">
                        <div class="d-flex align-center justify-start mud-width-full">
                            <MudImage Src="img/space-technology.svg" Style="max-height: 60px"/>
                        </div>
                        <MudText Typo="Typo.h5" Color="Color.Inherit" Style="font-weight: bold;">Latest Discoveries</MudText>
                        <MudText Typo="Typo.body2">Stay up-to-date with the most recent breakthroughs and discoveries in the field of astrophysics.</MudText>
                    </div>
                </MudItem>
                <MudItem xs="4">
                    <div class="d-flex flex-column mud-height-full gap-2 pa-8">
                        <div class="d-flex align-center justify-start mud-width-full">
                            <MudImage Src="img/space-technology.svg" Style="max-height: 60px"/>
                        </div>
                        <MudText Typo="Typo.h5" Color="Color.Inherit" Style="font-weight: bold;">Latest Discoveries</MudText>
                        <MudText Typo="Typo.body2">Stay up-to-date with the most recent breakthroughs and discoveries in the field of astrophysics.</MudText>
                    </div>
                </MudItem>
            </MudGrid>
        </MudBreakpointProvider>
    </MudItem>

    <MudItem xs="12" Class="mb-8">
        <MudBreakpointProvider>
            <MudGrid Justify="Justify.SpaceBetween" Spacing="6">
                <MudItem xs="12" Class="d-flex align-center justify-center pa-8">
                    <div class="d-flex flex-column align-center gap-4">
                        <MudText Typo="Typo.h3" Align="Align.Center" Color="Color.Inherit">Numbers are telling our story</MudText>
                        <MudText Typo="Typo.body2" Align="Align.Center" Style="width: 70%">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</MudText>
                    </div>
                </MudItem>
            </MudGrid>
            <MudGrid Justify="Justify.SpaceBetween" Spacing="6">
                <MudItem xs="12" md="4" lg="4" xl="4" xxl="4">
                    <div class="d-flex flex-column card gap-4 mud-height-full rounded-lg pa-8">
                        <MudText Typo="Typo.h3" Color="Color.Tertiary" Style="font-weight: bold;">01.</MudText>
                        <MudText Typo="Typo.h5" Style="font-weight: bold;">Online free courses and tutorials</MudText>
                        <MudText Typo="Typo.body2">Dive into the basics of astronomy. Learn about stars, planets, galaxies, and the tools astronomers use to explore the universe.</MudText>
                    </div>
                </MudItem>
                <MudItem xs="12" md="4" lg="4" xl="4" xxl="4">
                    <div class="d-flex flex-column card gap-4 mud-height-full rounded-lg pa-8">
                        <MudText Typo="Typo.h3" Color="Color.Tertiary" Style="font-weight: bold;">01.</MudText>
                        <MudText Typo="Typo.h5" Style="font-weight: bold;">Online free courses and tutorials</MudText>
                        <MudText Typo="Typo.body2">Dive into the basics of astronomy. Learn about stars, planets, galaxies, and the tools astronomers use to explore the universe.</MudText>
                    </div>
                </MudItem>
                <MudItem xs="12" md="4" lg="4" xl="4" xxl="4">
                    <div class="d-flex flex-column card gap-4 mud-height-full rounded-lg pa-8">
                        <MudText Typo="Typo.h3" Color="Color.Tertiary" Style="font-weight: bold;">01.</MudText>
                        <MudText Typo="Typo.h5" Style="font-weight: bold;">Online free courses and tutorials</MudText>
                        <MudText Typo="Typo.body2">Dive into the basics of astronomy. Learn about stars, planets, galaxies, and the tools astronomers use to explore the universe.</MudText>
                    </div>
                </MudItem>
            </MudGrid>
        </MudBreakpointProvider>
    </MudItem>

    <MudItem xs="12">
        <MudBreakpointProvider>
            <MudGrid Justify="Justify.SpaceBetween" Spacing="0">
                <MudItem xs="12" md="6" lg="6" xl="6" xxl="6" Class="d-flex align-center justify-start pa-8">
                    <div class="d-flex flex-column gap-4 content z-20" style="width: 70%">
                        <MudText Typo="Typo.h3" Color="Color.Inherit">Extend your database</MudText>
                        <MudText Typo="Typo.body2" Style="width: 70%">Choose from a huge collection of Postgres extensions, enabled with a single click.</MudText>
                        <div class="d-flex">
                            <MudButton Variant="Variant.Outlined" Color="Color.Inherit">See documentation</MudButton>
                        </div>
                    </div>
                </MudItem>
            </MudGrid>
        </MudBreakpointProvider>
    </MudItem>
</MudGrid>