@page "/counter"

@using Blater.Frontend.StateManagement.States
@inherits Blater.Frontend.StateManagement.Components.BlaterStateComponent

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@if (_loading)
{
    <MudProgressCircular Indeterminate="true"/>
}
else
{
    <p role="status">Current count: @CounterState.Count</p> 
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
}

@code {
    private CounterState CounterState { get; set; } = new();
    private bool _loading;

    protected override void OnInitialized()
    {
        _loading = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            CounterState = await GetState<CounterState>() ?? new CounterState();
            _loading = false;
            StateHasChanged();
        }
    }

    private async Task IncrementCount()
    {
        CounterState.Count++;
        await SetState(CounterState);
        StateHasChanged();
    }

}