<div class="d-flex align-center gap-1">
    <MudImage
        Class="pa-1"
        Src="blater-icon.svg"
        Width="50">
    </MudImage>
    <MudImage
        Class="pa-1"
        Src="blater-logo.svg"
        Width="100">
    </MudImage>
</div>