@using Icons = MudBlazor.Icons
<div class="d-flex align-center flex-grow-1 d-md-none">
    <NavLink ActiveClass="d-flex align-center" href="/">
        <BlaterLogo/>
    </NavLink>
    <MudSpacer/>
    <MudTooltip Delay="1000" Text="Drawer">
        <MudIconButton OnClick="DrawerToggleCallback" Icon="@Icons.Material.Rounded.Notes" Color="Color.Inherit" Edge="Edge.Start"/>
    </MudTooltip>
</div>

<div class="d-none d-md-flex align-center flex-grow-1">
    <NavLink ActiveClass="d-flex align-center me-4" href="/">
        <BlaterLogo/>
    </NavLink>
    <LandingNavMenu/>
    <MudSpacer/>
    <div class="d-flex align-center justify-center gap-2">
        <MudTooltip Delay="1000" Text="GitHub">
            <MudIconButton Href="#" Target="_blank" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Edge="Edge.End"/>
        </MudTooltip>
        <MudButton
            Href="/login"
            Color="Color.Inherit"
            Size="Size.Small"
            Variant="Variant.Outlined">Log In</MudButton>
        <MudButton
            Href="/sign-up"
            Size="Size.Small"
            Class="gradient-background-2"
            Variant="Variant.Filled">
            Sign Up
        </MudButton>
    </div>
</div>

@code {
    
    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;
    
    [Parameter]
    public EventCallback<MouseEventArgs> DrawerToggleCallback { get; set; }
    
}