@using Icons = MudBlazor.Icons

<div class="d-flex gap-2 mx-1 px-3">
    <MudMenu
        Color="Color.Inherit"
        Variant="Variant.Text"
        PopoverClass="docs-layout-menu-shadow"
        ListClass="d-flex px-4 pb-2 docs-appbar-special-menu"
        LockScroll="true"
        Label="Products"
        EndIcon="@Icons.Material.Filled.KeyboardArrowDown"
        AnchorOrigin="Origin.BottomCenter"
        TransformOrigin="Origin.TopCenter">
        <MudList T="string">
            <MudListSubheader>
                Products
            </MudListSubheader>
            <MudListItem Href="#">
                <div class="d-flex">
                    <MudText Color="Color.Primary">Blater</MudText><MudText> Database</MudText>
                </div>
                <MudText Typo="Typo.body2">Base description from blater database</MudText>
            </MudListItem>
        </MudList>
    </MudMenu>
    
    <MudButton Variant="Variant.Text" Color="Color.Inherit" Href="/pricing">Pricing</MudButton>
    <MudButton Variant="Variant.Text" Color="Color.Inherit" Href="/about">About</MudButton>
    <MudButton Variant="Variant.Text" Color="Color.Inherit" Href="/faq">FAQ</MudButton>
</div>

