<div class="d-flex align-center flex-grow-1 d-md-none">
    <MudTooltip Delay="1000" Text="Drawer">
        <MudIconButton OnClick="DrawerToggleCallback" Icon="@Icons.Material.Rounded.Notes" Color="Color.Inherit" Edge="Edge.Start"/>
    </MudTooltip>
    <MudSpacer/>
    <NavLink ActiveClass="d-flex align-center" href="/">
        <MudLink
            Href="#"
            Color="Color.Dark"
            Underline="Underline.None">
            <BlaterLogo/>
        </MudLink>
    </NavLink>
    <MudSpacer/>
    <MudTooltip Delay="1000" Text="GitHub">
        <MudIconButton Href="https://github.com/MudBlazor/MudBlazor/" Target="_blank" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Edge="Edge.End"/>
    </MudTooltip>
</div>

<div class="d-none d-md-flex align-center flex-grow-1">
    <NavLink ActiveClass="d-flex align-center me-4" href="/">
        <BlaterLogo/>
    </NavLink>
    <LandingNavMenu/>
    <MudSpacer/>
    <div class="d-flex gap-4">
        <MudTooltip Delay="1000" Text="GitHub">
            <MudIconButton Href="https://github.com/MudBlazor/MudBlazor/" Target="_blank" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Edge="Edge.End"/>
        </MudTooltip>
        <MudButton
            Href="/getting-started/installation"
            Color="Color.Inherit"
            Size="Size.Small"
            Variant="Variant.Outlined">Log In</MudButton>
        <MudButton
            Href="/getting-started/installation"
            Size="Size.Small"
            Style="background: var(--mud-palette-secondary-darken)"
            Variant="Variant.Filled">
            Sing Up
        </MudButton>
    </div>
</div>

@code {
    
    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;
    
    [Parameter]
    public EventCallback<MouseEventArgs> DrawerToggleCallback { get; set; }
    
}